tmp/cmegroup-chicago-cu.json
tmp/cmegroup-corn.json
tmp/cmegroup-new-york-nyh.json
tmp/cmegroup-rbob.json
logs/log.txt
data/resume.xlsx
data/Master data_JUL22_bot.xlsx
tmp/cmegroup-sugar-11.json
tmp/cmegroup-t2.json
tmp/resume_template.xlsx
